@use "../util/" as *;

.about-team {
  & > h2 {
    font-weight: 800;
    font-size: rem(25);
    line-height: rem(30.26);
    margin: 0 auto rem(48);
    width: rem(120);
  }

  &__carousel-container {
    position: relative;
    width: 100vw;
    max-width: rem(1200);
    margin: 0 0 rem(101) rem(51);
    overflow: hidden;

    @include breakpoint(small) {
      margin-left: rem(201);
    }
  }

  &__carousel-track {
    display: flex;
    gap: rem(20);
    transition: transform 0.5s ease;
    margin: 0;

    & a {
      text-decoration: none;
    }
  }

  &__carousel-slide {
    flex: 0 0 auto;
    width: calc(100vw / 1.5); /* Mobile view: 1 1/3 images */
    object-fit: cover;

    @include breakpoint(small) {
      width: calc(100vw / 3.5);
    }
  }

  &__scroll-btn {
    position: absolute;
    top: 50%;
    //transform: translateY(-50%);
    background: transparent;
    border: none;
    width: rem(35);
    height: rem(35);
    cursor: pointer;
    z-index: 10;
    outline: none;
    transition: background-color 0.3s;

    & img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
    }

    &.right {
      right: rem(41);
    }

    &.left {
      left: 0;
      transform: scaleX(-1);
    }
  }
}
