@use "../util/" as *;

.header {
  margin: rem(19) rem(100) 0;
  width: rem(1081);
  background: linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.1));
  border: rem(1);
  border-radius: rem(20);
  backdrop-filter: blur(100px);
  box-shadow: rem(-5) rem(4) rem(20) 0 hsla(0, 0%, 0%, 0.03);

  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;

  @include breakpoint-down(small) {
    width: rem(393);
    height: rem(73);
    margin: rem(35) rem(20) rem(23) rem(15);
  }

  &__logo {
    margin: rem(15) 0 rem(11) rem(46);
    width: rem(167);
    height: rem(47);

    @include breakpoint-down(small) {
      margin: rem(15) 0 rem(23) rem(46);
      width: rem(124);
      height: rem(35);
    }

    &.active {
      @include breakpoint-down(small) {
        display: none;
      }
    }
  }

  &__nav-bar {
    margin: rem(13.5) 0 rem(18.5) rem(169.5);
    display: flex;
    gap: rem(40);

    @include breakpoint-down(small) {
      background-color: var(--text-white);
      height: 100vh;
      width: rem(400);
      margin-top: rem(76);
      position: fixed;
      top: 0;
      right: rem(-700);
      display: flex;
      flex-direction: column;
      text-align: start;
      font-size: 3rem;
      transition: 0.3s ease;
    }

    &.active {
      @include breakpoint-down(small) {
        right: 0;
      }
    }

    li {
      list-style-type: none;
      height: rem(15);
      font-weight: 500;
      font-size: rem(12);
      line-height: rem(14.52);

      @include breakpoint-down(small) {
        height: rem(30);
        font-size: rem(25);
        line-height: rem(30.26);
      }
    }

    a {
      text-decoration: none;
      color: var(--text-dark1);
      position: relative;
      margin-bottom: rem(2);
    }

    a:after {
      @include breakpoint-down(small) {
        content: "";
        width: 100%;
        border-bottom: rem(5) solid transparent;
        border-radius: rem(5);
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(rem(5));
      }
    }

    a:hover:after,
    a:active:after {
      @include breakpoint-down(small) {
        display: block;
        border-bottom-color: var(--primary-btn);
      }
    }
  }

  &__menu {
    display: none;

    @include breakpoint-down(small) {
      display: block;
      height: rem(27);
      width: rem(27);
      margin: rem(23) rem(45) rem(23) auto;
      position: relative;
      border: none;
      background: transparent;
    }

    & span {
      @include breakpoint-down(small) {
        height: rem(2.5);
        background-color: var(--text-dark1);
        border-radius: rem(25);
        position: absolute;
        left: 50%;
        top: 50%;
        transition: 0.3s ease;
      }
    }

    & span:nth-child(2) {
      @include breakpoint-down(small) {
        width: 100%;
      }
    }

    & span:nth-child(1) {
      @include breakpoint-down(small) {
        top: 25%;
        width: rem(18);
        transform: translateX(rem(9));
      }
    }

    & span:nth-child(3) {
      @include breakpoint-down(small) {
        top: 75%;
        width: rem(13.5);
        transform: translateX(rem(13.5));
      }
    }

    &.active {
      @include breakpoint-down(small) {
        width: rem(36);
        height: rem(36);
        border-radius: 50%;
        background-color: hsla(0, 0%, 95%, 1);
      }
    }

    &.active span:nth-child(1) {
      @include breakpoint-down(small) {
        width: rem(13.5);
        height: rem(2);
        top: 48%;
        left: 48%;
        transform: translateX(rem(-7)) rotate(45deg);
      }
    }

    &.active span:nth-child(2) {
      @include breakpoint-down(small) {
        opacity: 0;
      }
    }

    &.active span:nth-child(3) {
      @include breakpoint-down(small) {
        width: rem(13.5);
        height: rem(2);
        top: 48%;
        left: 48%;
        transform: translateX(rem(-7)) rotate(-45deg);
      }
    }
  }
}

.hidden {
  display: none;

  @include breakpoint-down(small) {
    display: inline;
  }
}
